<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <app-navbar></app-navbar>
    </div>

    <div class="main">
      <div
        style="
          width: 100%;
          height: 130px;
          /* background-color: rgb(215, 215, 250); */
          position: relative;
          /* top: 17px; */
          border-radius: 5px;
          display: flex;
          justify-content: space-evenly;
        "
      >
        <div style="background-color: purple">
          <input
            type="text"
            placeholder="Search"
            style="
              width: 270px;
              height: 43px;
              position: absolute;
              left: 20px;
              top: 25px;
              border: 1px solid black;
              border-radius: 8px;
              padding: 13px;
              font-size: 15px;
              font-family: sans-serif;
            "
          />
          <button
            style="
              position: absolute;
              right: 10px;
              top: 26px;
              padding: 6px;
              margin-top: 3px;
              width: 140px;
              height: 43px;
              border-radius: 10px;
            "
            (click)="toggleForm()"
          >
            Add Task
          </button>
        </div>
        <div
          style="
            position: absolute;
            bottom: 0;
            left: 50px;
            margin-bottom: 10px;
            width: 91%;
            height: 36px;
          "
        >
          <div class="row" style="background-color: #f6f8fa">
            <div class="col-4" style="margin-top: 15px">
              <h4 id="topicname" style="font-weight: bolder">
                Please add a Task to see content
              </h4>
            </div>

            <div class="col-9" style="margin-top: 15px"></div>
          </div>
        </div>

        <div>
          <div *ngIf="isFormVisible" class="course-form">
            <table>
              <tr>
                <th style="font-weight: 550">Action</th>
                <th style="position: relative; left: 52px; font-weight: 550">
                  Title
                  <mat-icon style="vertical-align: middle; margin-left: 1px"
                    >unfold_more</mat-icon
                  >
                </th>
                <th style="position: relative; left: 17px; font-weight: 550">
                  Status
                  <mat-icon style="vertical-align: middle; margin-left: 1px"
                    >unfold_more</mat-icon
                  >
                </th>
                <th style="position: relative; left: 39px; font-weight: 550">
                  Priority
                </th>
                <th style="position: relative; left: 38px; font-weight: 550">
                  DeadLine
                </th>
                <th style="position: relative; left: 18px; font-weight: 550">
                  Description
                </th>
                <!-- <th style="position: relative; left: 13px; font-weight: 550">
                    Topic
                  </th> -->
              </tr>
              <tr style="position: relative; top: 15px">
                <td>
                  <mat-icon
                    class="mat-icon-main"
                    svgIcon="Check-up"
                    (click)="submitTableData()"
                    aria-hidden="false"
                    aria-label="Toggle Password Visibility"
                  ></mat-icon>
                  <mat-icon
                    class="mat-icon-main"
                    svgIcon="Wrong-up"
                    (click)="toggleForm()"
                    aria-hidden="false"
                    aria-label="Toggle Password Visibility"
                  ></mat-icon>
                </td>
                <td>
                  <input
                    type="text"
                    style="
                      position: relative;
                      width: 140px;
                      height: 29px;
                      border-radius: 5px;
                      border: 1px solid rgb(136, 134, 134);
                      text-align: center;
                      left: 15px;
                    "
                    [(ngModel)]="field1Value"
                    placeholder="Enter Title"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    style="
                      position: relative;
                      width: 150px;
                      height: 29px;
                      border-radius: 5px;
                      border: 1px solid rgb(136, 134, 134);
                      text-align: center;
                      left: 15px;
                    "
                    [(ngModel)]="field2Value"
                    placeholder="Enter Status"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    style="
                      position: relative;
                      width: 140px;
                      height: 29px;
                      border-radius: 5px;
                      border: 1px solid rgb(136, 134, 134);
                      text-align: center;
                      left: 15px;
                    "
                    [(ngModel)]="field3Value"
                    placeholder="Prority"
                  />
                </td>
                <td>
                  <input
                  type="date"
                    style="
                      position: relative;
                      width: 140px;
                      height: 29px;
                      border-radius: 5px;
                      border: 1px solid rgb(136, 134, 134);
                      text-align: center;
                      left: 15px;
                    "
                    [(ngModel)]="field4Value"
                    
                  />


                
                </td>
                <td>
                  <a
                    href="javascript:void(0);"
                    (click)="openPopup()"
                    *ngIf="somya == ''"
                  >
                    Add Description</a
                  >
                  <p *ngIf="somya != ''">
                    {{ somya }}
                  </p>
                </td>

                <!-- <td>
                    <a
                      href="javascript:void(0);"
                      (click)="openSecondPopup()"
                      *ngIf="rud == ''"
                      >Add Topic</a
                    >
                    <p *ngIf="rud != ''">
                      {{ rud }}
                    </p>
                  </td> -->
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="isPopupVisible" class="popup">
        <div class="popup-content">
          <input
            type="text"
            [(ngModel)]="popupInput"
            placeholder="Enter value"
          />

          <button (click)="submitPopup()">Submit</button>
          <button (click)="closePopup()">Cancel</button>
        </div>
      </div>

      <!-- <div *ngIf="isSecondPopupVisible" class="popup">
          <div class="popup-content">
            <input
              type="text"
              [(ngModel)]="secondPopupInput"
              placeholder="Enter value"
            />
            <button (click)="submitSecondPopup()">Submit</button>
            <button (click)="closeSecondPopup()">Cancel</button>
          </div>
        </div> -->

      <div style="margin-top: 170px">
        <table class="horizontal-table">
          <thead>
            <tr>
              <th>Action</th>
              <th>Title</th>
              <th>Status</th>
              <th>Priority</th>
              <th>Deadline</th>
              <th>Description</th>
              <!-- <th>Topic</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of ApiData; let i = index">
              <td>
                <mat-icon
                  class="mat-icon-main"
                  svgIcon="Edit-up"
                  (click)="editItem(person.taskId); toggleForm()"
                  aria-hidden="false"
                  aria-label="Toggle Password Visibility"
                ></mat-icon>
                <mat-icon
                  class="mat-icon-main"
                  svgIcon="Del-up"
                  (click)="deleteItem(person.taskId)"
                  aria-hidden="false"
                  aria-label="Toggle Password Visibility"
                ></mat-icon>
              </td>
              <!--  -->
              
              <td>{{ person.title }}</td>

              <td>{{ person.status }}</td>
              <td>{{ person.priority }}</td>
              <td>{{ person.deadline }}</td>
              <td>{{ person.description }}</td>
              <!-- <td>add topic</td> -->
            </tr>
          </tbody>
        </table>
        <mat-paginator
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        ></mat-paginator>
      </div>
    </div>
  </body>
</html>
